{{#if this.zeroPartnerships}}
<li>
    <PersonLink @person={{@person}} @pagePerson={{@pagePerson}} @referencePerson={{@referencePerson}} />
</li>
{{else}}

{{#let this.firstPartnership as |partnership1|}}
<li>
    <PersonLink @person={{@person}} @pagePerson={{@pagePerson}} @referencePerson={{@referencePerson}} />
    {{#if partnership1.partner}}
    +
    <PersonLink @person={{partnership1.partner}} @pagePerson={{@pagePerson}} @referencePerson={{@referencePerson}} />
    {{/if}}

    <PersonOutlineChildren @partnership={{partnership1}} @pagePerson={{@pagePerson}}
        @referencePerson={{@referencePerson}} @includeSet={{@includeSet}} />
</li>
{{/let}}

{{#each this.nextPartnerships as |partnership|}}
<li>
    ...
    {{#if partnership.partner}}
    +
    <PersonLink @person={{partnership.partner}} @pagePerson={{@pagePerson}} @referencePerson={{@referencePerson}} />
    {{/if}}

    <PersonOutlineChildren @partnership={{partnership}} @pagePerson={{@pagePerson}}
        @referencePerson={{@referencePerson}} @includeSet={{@includeSet}} />
</li>
{{/each}}

{{/if}}