{{#if this.zeroPartnerships}}
<li>
    <PersonLink @person={{@person}} @pagePerson={{@pagePerson}} @referencePerson={{@referencePerson}} />
</li>
{{else}}
{{#let this.firstPartnership as |partnership1|}}
<li>
    <PersonLink @person={{@person}} @pagePerson={{@pagePerson}} @referencePerson={{@referencePerson}} />
    {{#if partnership1.partner}}
    +
    <PersonLink @person={{partnership1.partner}} @pagePerson={{@pagePerson}} @referencePerson={{@referencePerson}} />
    {{/if}}

    {{#if partnership1.children}}
    <ul>
        {{#each partnership1.children as |child|}}
        <PersonOutline @person={{child}} @pagePerson={{@pagePerson}} @referencePerson={{@referencePerson}} />
        {{/each}}
    </ul>
    {{/if}}
</li>
{{/let}}

{{#each this.nextPartnerships as |partnership|}}
<li>
    ...
    {{#if partnership.partner}}
    +
    <PersonLink @person={{partnership.partner}} @pagePerson={{@pagePerson}} @referencePerson={{@referencePerson}} />
    {{/if}}

    {{#if partnership.children}}
    <ul>
        {{#each partnership.children as |child|}}
        <PersonOutline @person={{child}} @pagePerson={{@pagePerson}} @referencePerson={{@referencePerson}} />
        {{/each}}
    </ul>
    {{/if}}
</li>
{{/each}}

{{/if}}