{{page-title "Person"}}

<h1>{{@model.name}}</h1>

<p>
    {{@model.comments}}
</p>


{{#if @model.childIn}}
<ul>
    <PersonLink @person={{@model.childIn.firstParent}} @pagePerson={{@model}} />
    {{#each @model.childIn.nextParents as |parent|}}
    +
    <PersonLink @person={{parent}} @pagePerson={{@model}} />
    {{/each}}
    <ul>
        <PersonOutline @person={{@model}} @pagePerson={{@model}} />
    </ul>
</ul>
{{else}}
<ul>
    <PersonOutline @person={{@model}} @pagePerson={{@model}} />
</ul>
{{/if}}

<hr>
<CurrentReferencePerson @pagePerson={{@model}} />
<br>
<MakeReferencePerson @person={{@model}} />
<br>
<LinkTo @route="index">Return to the root listing</LinkTo>
{{outlet}}